Flask==2.1.1
Flask-SQLAlchemy==2.5.1
Flask-SocketIO==5.2.0
Flask-Migrate==4.0.1
psycopg2-binary==2.9.3
redis==4.0.2
stripe==2.56.0
Werkzeug==2.1.2
python-dotenv==1.1.0
flask-cors==6.0.0
SQLAlchemy~=1.4.46
Flask-JWT-Extended~=4.7.1
alembic~=1.16.1